In [2]:
4+5

9

In [1]:
7//2

3

In [82]:
7/2

3.5

In [1]:
a=10
b=20
c=10

In [84]:
a or b

10

In [85]:
a>b

False

In [86]:
from keyword import kwlist
kwlist
len(kwlist)

35

In [87]:
8>3 and 10<6

False

In [88]:
7<4 or 3>4 or 6<5 or not (7<10 and 6<18)

False

In [89]:
d=5
e=8
f=2

In [90]:
#firstly 5 will be converted to binary and perfrom operations
print(d&e)
print(d|e)
print(d^e)
#
print(~d)
#m >> n -> n/2^n
print(d >> 1)
#m << n -> m*2^n
print(d << 2)

0
13
13
-6
2
20

In [91]:
'h' in 'yashraj monani'

True

In [92]:
'g' in 'yashraj monani'

False

In [93]:

a1=2
a2=1

In [94]:
id(a), id(a1), id(a2)

(2697402778128, 2697402777872, 2697402777840)

In [95]:
a= 10
a,b=10,20
a=b=30
a=10,20

In [96]:
a

(10, 20)

In [97]:
#tuple ke liye bracket jaruru nhi
type(a)

tuple

In [98]:
print(5,6,7,sep='-')

5-6-7

In [99]:
print(5,6,7,end='\t')
print(7,8,9)

5 6 7	7 8 9

In [100]:
#print never returns
k=print('hi')

hi

In [101]:
k

In [102]:
type(k)

NoneType

In [103]:
n = input('enter a python expression: ')
print(n)
print(eval(n))

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [ ]:
#Mutability

In [ ]:
s='hello, this is my face and Y'

In [ ]:
print(s)

hello, this is my face and Y

In [ ]:
len(s)

28

In [ ]:
type(s)

str

In [ ]:
s[0]

'h'

In [ ]:
s[-1]

'Y'

In [ ]:
#slicing- [begin : end (exclusive) : step size]
#default  [ : :.....] step-size=+1
#         [...:x:y] begin = 0(step size->+ve) end=0(step size->-ve)
s[0:5:1]

'hello'

In [ ]:
s[-7:28:1]

'e and Y'

In [ ]:
s[-1:-8:-1]

'Y dna e'

In [ ]:
s[-23:-18:-1]

''

In [ ]:
#s[-24:-29:-1] 
s[4:-29:-1]

'olleh'

In [ ]:
s[-18:-23:-1]

'siht '

In [ ]:
s[4::-1]

'olleh'

In [ ]:
s[::-1]

'Y dna ecaf ym si siht ,olleh'

In [ ]:
'hi'*10

'hihihihihihihihihihi'

In [ ]:
'hi'+'bye'

'hibye'

In [ ]:
s

'hello, this is my face and Y'

In [ ]:
s+= ' here'
s

'hello, this is my face and Y here'

In [ ]:
s=s[:5]+' Yash'+s[5:]
s

'hello Yash, this is my face and Y here'

In [2]:
s

NameError: name 's' is not defined

In [1]:
s[0]="K"

NameError: name 's' is not defined

In [ ]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [ ]:
a=[23,'21',[4,3,5]]

In [ ]:
print(a)
print(len(a))
print(type(a))

[23, '21', [4, 3, 5]]
3
<class 'list'>

In [ ]:
a[:2]

[23, '21']

In [ ]:

a[-1]

[4, 3, 5]

In [ ]:
#nesting
a[-2][-1]

'1'

In [ ]:
a[-1][-1]

5

In [ ]:
[4,5,7]*2

[4, 5, 7, 4, 5, 7]

In [ ]:
a +=[10,20]
a

[23, '21', [4, 3, 5], 10, 20, 10, 20]

In [ ]:
a+=['Hello']
a

[23, '21', [4, 3, 5], 10, 20, 10, 20, 'Hello']

In [ ]:
a+=['e45rgter56']
a

[23, '21', [4, 3, 5], 10, 20, 10, 20, 'Hello', 'e45rgter56']

In [ ]:
a[0]=3.5
a

[3.5, '21', [4, 3, 5], 10, 20, 10, 20, 'Hello', 'e45rgter56']

In [ ]:
del a[-1]
a

[3.5, '21', [4, 3, 5], 10, 20, 10, 20, 'Hello']

In [104]:
a=[4,6,34,'hi']
a

[4, 6, 34, 'hi']

In [105]:
a+={'a':3,'b':5}
a

[4, 6, 34, 'hi', 'a', 'b']

In [106]:
a+={7,8,9}
a

[4, 6, 34, 'hi', 'a', 'b', 8, 9, 7]

In [107]:
#no slicing in dictionary
a={'a':3,'b':5}
print(a)
print(len(a))
print(type(a))
print(a['a'])

{'a': 3, 'b': 5}
2
<class 'dict'>
3

In [108]:
a['b']='hiloeee'
a

{'a': 3, 'b': 'hiloeee'}

In [109]:
del a['a']
a

{'b': 'hiloeee'}

In [110]:
b={1,4,45,5,5,6,6,7}
print(b)

{1, 4, 5, 6, 7, 45}

In [115]:
#set is unordered and 
b[0]

TypeError: 'set' object is not subscriptable

In [117]:
#bool will give true in case of non-empty data and non zero
#false for zero and empty data
bool(9)
bool(-5)

True

In [120]:
print(bool([]))
bool('')
bool(())
bool(({}))
bool((None))

bool(([4]))
bool([()])
bool(' ')

False

True

In [19]:
d='Hellow'
e=[ 'a','b']

In [20]:
#string Functions
print(d.count('l'))
print(d.index('e'))
print(d.find('l'))
print(d.split('l'))
print(d.strip('0'))
print(d.replace('l'),('L'))

2
1
2
['He', '', 'ow']
Hellow

TypeError: replace expected at least 2 arguments, got 1

In [21]:
'   hi this is   '.strip

In [22]:
'hi this is'.split

In [23]:
'awesome'.join('bakwaas')

'bawesomeaawesomekawesomewawesomeaawesomeaawesomes'

In [24]:
'-'.join('bakwas')

'b-a-k-w-a-s'

In [25]:
'wow'.join(['hi','there','to','nice'])

'hiwowtherewowtowownice'

In [26]:
days=10
s="this will last at most %d days"%(days)
print(s)

this will last at most 10 days

In [27]:
days=10
s="this will last at most{days}days"
print(s)

this will last at most{days}days

In [28]:
# string types
# -ordinary string
#-F-string
#-Raw-string     r'this is a \n raw string'
#-byte string   b'this is a byte string'

In [29]:
s="this will last at most {1} days  in {1} and extra {0}"
days=10
extra=5
s=s.format(days ,extra)
print(s)

this will last at most 5 days  in 5 and extra 10

In [31]:
# List Functions
e.append(50); print(e)
print(e.count(10))
e.extend([4,6,2,3]); print(e)
e.insert(2,100); print(e)
print(e.pop()); print(e)
e.remove(6); print(e)
e.reverse(); print(e)
e.sort(); print(e)


e1=e.copy()
e2=e

[2, 4, 50, 100, 'b', 'a', 50]
0
[2, 4, 50, 100, 'b', 'a', 50, 4, 6, 2, 3]
[2, 4, 100, 50, 100, 'b', 'a', 50, 4, 6, 2, 3]
3
[2, 4, 100, 50, 100, 'b', 'a', 50, 4, 6, 2]
[2, 4, 100, 50, 100, 'b', 'a', 50, 4, 2]
[2, 4, 50, 'a', 'b', 100, 50, 100, 4, 2]

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
# tuple function
f=(3,6,2)
print(f)
print(f.index(3))
print(f.count(3))

(3, 6, 2)
0
1

In [35]:
# dictionary
g={'a':[45,6],'b':[1,6,2]}
print(g)
print(g.keys())
print(g.values())
print(g.get('a'))
print(g.pop('b')); print(g)

{'a': [45, 6], 'b': [1, 6, 2]}
dict_keys(['a', 'b'])
dict_values([[45, 6], [1, 6, 2]])
[45, 6]
[1, 6, 2]
{'a': [45, 6]}

In [36]:
# set function 
h={2,50,5}
print(h)
h.add(50); print(h)
print(h.difference({2,10}))
print(h.intersection({2,10}))
print(h.pop()); print(h)
h.remove(50); print(h)
print(h.union({10,20,30,40}))

{2, 50, 5}
{2, 50, 5}
{50, 5}
{2}
2
{50, 5}
{5}
{20, 5, 40, 10, 30}

In [37]:
# type conversion 
float(a)

10.0

In [38]:
str(a)

'10'

In [39]:
int('3000')

3000

In [40]:
int(float(30.4))

30

In [41]:
eval('45')

45

In [42]:
list(d)

['H', 'e', 'l', 'l', 'o', 'w']

In [43]:
tuple(d)

('H', 'e', 'l', 'l', 'o', 'w')

In [44]:
str(e)

"[2, 4, 50, 'a', 'b', 100, 50, 100, 4, 2]"

In [45]:
dict(b=e)

{'b': [2, 4, 50, 'a', 'b', 100, 50, 100, 4, 2]}

In [46]:
set(e)

{100, 2, 4, 50, 'a', 'b'}

In [47]:
e1,e2

NameError: name 'e1' is not defined

In [48]:
[e1,e2]

NameError: name 'e1' is not defined

In [49]:
[*e1,*e2]

NameError: name 'e1' is not defined

In [51]:
g1={'a':4,'b':[5,6]}
g2={'c':34,'a':'hi'}

In [52]:
g1.update(g2)
g1

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [53]:
{**g1,**g2}

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [ ]:
# control statment
# 1 conditional - if-elif-else (pass)
# 2  loop while-else  (continue ,break)
#   for-else
# 3 erroe control  --  try-except-else-finally    



# Suites 

#statement1:
#   expr1
#   expr2
#statement2:
#    expr3
#    expr4
#    statement3:
#         expr5
#    expr6
#expr7

In [1]:
#for(int i=0; i<10; i++){
#    do something
#}
#arr[3,5,6,78]
#foreach(bvar v in arr){
#    v
#}
a=[3,5,6,3]
for i in a:
    print(i,i*10)

3 30
5 50
6 60
3 30

In [2]:
table=[1,2,3,4,5,6,7,8,9,10]
num=2
for i in table:
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [3]:
list (range())

TypeError: range expected at least 1 argument, got 0

In [4]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [5]:
# Comprehensions
#Conditional (not really a comprehension thouhgt)
# list 
#dist 
#set
#genreter

a=[3,5,3,8,5,9,10]

In [11]:
b=[]
for i in a:
    # b.appendi[*2]
    b+=[i*2]
print(b)

[6, 10, 6, 16, 10, 18, 20]

In [12]:
b1=[i*2 for i in a]
print(b1)

[6, 10, 6, 16, 10, 18, 20]

In [13]:
b2=[i for i in a if i%2 == 1]
print(b2)

[3, 5, 3, 5, 9]

In [15]:
num=36
print('odd') if num%2 else print('Even')

Even

In [17]:
b3=[f'{i} Odd' if i%2 else f'{i} Even' for i in a]
print(b3)

['3 Odd', '5 Odd', '3 Odd', '8 Even', '5 Odd', '9 Odd', '10 Even']

In [18]:
{i:i**2 for i in a}

{3: 9, 5: 25, 8: 64, 9: 81, 10: 100}

In [19]:
{i**2 for i in a}

{9, 25, 64, 81, 100}

In [23]:
def abc1():
    print('its no input no output func')

def abc2(x):
    print(f'its fetching x={x} but no output')

def abc3():
    return 'its a string returning from function as output'

def abc4(x,y):
    return x*2,y+x+y

In [24]:
a =abc1()
print(a)

its no input no output func
None

In [25]:
a3=abc3()
print(a3)

its a string returning from function as output

In [27]:
a2 = abc2(4)
print(a2)

its fetching x=4 but no output
None

In [28]:
a4=abc4(2,3)
print(a4)

(4, 8)

In [30]:
a41,a42=abc4(4,6)
print(a41); print(a42)

8
16

In [31]:
abc4(y=5,x=8)

(16, 18)

In [32]:
abc4(4,y=5)

(8, 14)

In [33]:
#abc4(y=5,6)
#abc4(5)
#abc4(4,6,5)
abc4(x=5,y=7,z=8)

TypeError: abc4() got an unexpected keyword argument 'z'

In [36]:
 #default values to function args(can always start with right)
def abc5(x,y=0):
    return x*2, y+x+y

abc5()

NameError: name 'x' is not defined

In [37]:
# *args, **kwargs
def abc6(x=1,y=0, *p, **q):
    print(x*2,y+x+y)
    print(p)
    print(q)
    print('')

In [38]:
abc6()
abc6(5,4)
abc6(5,4,9,10,34,456,'hi',23)
abc6(5,4,9,10,34,456,'hi',m=23,n=[4,7,8])
abc6(5,4,9,10,456,'hi',23,q={'x':[45,6],'z':34})

2 1
()
{}

10 13
()
{}

10 13
(9, 10, 34, 456, 'hi', 23)
{}

10 13
(9, 10, 34, 456, 'hi')
{'m': 23, 'n': [4, 7, 8]}

10 13
(9, 10, 456, 'hi', 23)
{'q': {'x': [45, 6], 'z': 34}}