In [1]:
4+5

9

In [2]:
7//2

3

In [3]:
7/2

3.5

In [4]:
a=10
b=20
c=10

In [5]:
a or b

10

In [6]:
a>b

False

In [12]:
from keyword import kwlist
kwlist
len(kwlist)
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
8>3 and 10<6
print(bool)

<class 'bool'>

In [9]:
7<4 or 3>4 or 6<5 or not (7<10 and 6<18)

False

In [14]:
d=10
e=8
f=2

In [15]:
#firstly 5 will be converted to binary and perfrom operations
print(d&e)
print(d|e)
print(d^e)
#
print(~d)
#m >> n -> n/2^n
print(d >> 1)
#m << n -> m*2^n
print(d << 2)

8
10
2
-11
5
40

In [91]:
'h' in 'yashraj monani'

True

In [92]:
'g' in 'yashraj monani'

False

In [93]:

a1=2
a2=1

In [94]:
id(a), id(a1), id(a2)

(2697402778128, 2697402777872, 2697402777840)

In [30]:
a= 10
a,b=10,20
a=b=30
a=10,20

In [31]:
b

30

In [32]:
#tuple ke liye bracket jaruru nhi
type(b)

int

In [37]:
print(5,6,7,sep=' /')

5 /6 /7

In [38]:
print(5,6,7,end='\n')
print(7,8,9)

5 6 7
7 8 9

In [39]:
#print never returns
k=print('hi')

hi

In [40]:
k

In [41]:
type(k)

NoneType

In [49]:
n = input('enter a python expression: ')
print(n)
print(eval(n))

sum([5,57,5,4,])
71

In [50]:
#Mutability

In [51]:
s='hello, this is my face and Y'

In [52]:
print(s)

hello, this is my face and Y

In [53]:
len(s)

28

In [59]:
type(s)

str

In [60]:
s[0]

'h'

In [61]:
s[-3]

'd'

In [64]:
#slicing- [begin : end (exclusive) : step size]
#default  [ : :.....] step-size=+1
#         [...:x:y] begin = 0(step size->+ve) end=0(step size->-ve)
s[0:5:1]

'hello'

In [65]:
s[-7:28:1]

'e and Y'

In [68]:
s[-1:-8:-1]

'Y dna e'

In [70]:
s[-23:-18:1]

', thi'

In [71]:
#s[-24:-29:-1] 
s[4:-29:-1]

'olleh'

In [72]:
s[-18:-23:-1]

'siht '

In [73]:
s[4::-1]

'olleh'

In [74]:
s[::-1]

'Y dna ecaf ym si siht ,olleh'

In [75]:
'hi'*10

'hihihihihihihihihihi'

In [76]:
'hi'+'bye'

'hibye'

In [77]:
s

'hello, this is my face and Y'

In [78]:
s+= ' here'
s

'hello, this is my face and Y here'

In [94]:
s=s[:5]+' Yash'+s[5:]
s

'  Yas Yash Yash Yash Yash Yashh Yash, this is my face and Yash Y here'

In [87]:
s

'  Yas Yash Yash Yash Yashh Yash, this is my face and Y here'

In [100]:
s=s[:0]+'y'+s[0:]
s

'yyyy  Yas Yash Yash Yash Yash Yashh Yash, this is my face and Yash Y here'

In [104]:
del s[1]

TypeError: 'str' object doesn't support item deletion

In [105]:
a=[23,'21',[4,3,5]]

In [ ]:
print(a)
print(len(a))
print(type(a))

[23, '21', [4, 3, 5]]
3
<class 'list'>

In [108]:
a[:2]

[23, '21']

In [109]:

a[-1]

[4, 3, 5]

In [116]:
#nesting
a[-2][-1]

'1'

In [117]:
a[-1][-1]

5

In [119]:
[4,5,7]*2

[4, 5, 7, 4, 5, 7]

In [127]:
a +=[10,20]
a

[23,
 '21',
 [4, 3, 5],
 10,
 20,
 [10, 20],
 10,
 20,
 10,
 20,
 10,
 20,
 'Hello',
 10,
 20,
 10,
 20]

In [125]:
a+=['Hello']
a

[23, '21', [4, 3, 5], 10, 20, [10, 20], 10, 20, 10, 20, 10, 20, 'Hello']

In [128]:
a+=['e45rgter56']
a

[23,
 '21',
 [4, 3, 5],
 10,
 20,
 [10, 20],
 10,
 20,
 10,
 20,
 10,
 20,
 'Hello',
 10,
 20,
 10,
 20,
 'e45rgter56']

In [140]:
a[0]=3.5
a

[3.5]

In [138]:
del a[-1]
a

[3.5]

In [141]:
a=[4,6,34,'hi']
a

[4, 6, 34, 'hi']

In [142]:
a+={'a':3,'b':5}
a

[4, 6, 34, 'hi', 'a', 'b']

In [106]:
a+={7,8,9}
a

[4, 6, 34, 'hi', 'a', 'b', 8, 9, 7]

In [163]:
#no slicing in dictionary
a={'a':3,'b':5}
print(a)
print(len(a))
print(type(a))
print(a['a'])

{'a': 3, 'b': 5}
2
<class 'dict'>
3

In [166]:
dholu={'bobo':'5 cm','gandh':'34','verticallipsdeath':'6 inch'}

In [161]:
dholu={'bobo':'5 cm'}
dholu

{'bobo': '5 cm'}

In [167]:
del a['a']
a

{'b': 5}

In [172]:
aa={'a':"jfhg",'b':"kdj"}
aa={'a':"jj"}

{'a': 'jj'}

In [2]:
b={1,4,45,5,5,6,6,7}
print(b)

{1, 4, 5, 6, 7, 45}

In [3]:
#set is unordered and 
b[0]

TypeError: 'set' object is not subscriptable

In [9]:
#bool will give true in case of non-empty data and non zero
#false for zero and empty data
bool(9)
bool(-3)

True

In [21]:
#print(bool([]))
#bool('')
#bool(())
#bool(({}))
#bool((None))

#bool(([4]))
#bool([()])
bool(' ')

True

In [57]:
d=' Hell low '
e=[ 'a','b']

In [68]:
#string Functions
print(d.count('l'))
print(d.index('e'))
print(d.find('l'))
print(d.split('l'))
print(len(d))
print(d.strip())
print(len(d))
#print(d.replace('l'),('L'))

3
2
3
[' He', '', ' ', 'ow ']
10
Hell low
10

In [21]:
'   hi this is   '.strip

In [70]:
'hi this is'.split

In [23]:
'awesome'.join('bakwaas')

'bawesomeaawesomekawesomewawesomeaawesomeaawesomes'

In [71]:
' '.join('bakwas')

'b a k w a s'

In [25]:
'wow'.join(['hi','there','to','nice'])

'hiwowtherewowtowownice'

In [74]:
days='gh'
s="this will last at most %s days"%(days)
print(s)

this will last at most gh days

In [27]:
days=10
s="this will last at most{days}days"
print(s)

this will last at most{days}days

In [28]:
# string types
# -ordinary string
#-F-string
#-Raw-string     r'this is a \n raw string'
#-byte string   b'this is a byte string'

In [75]:
s="this will last at most {1} days  in {1} and extra {0}"
days=10
extra=5
s=s.format(days ,extra)
print(s)

this will last at most 5 days  in 5 and extra 10

In [87]:
# List Functions
print(e)
e.append(50); print(e)
print(e.count(50))
print(e)
e.extend([4,6,2,3]); print(e)
print(e)
e.insert(2,100); print(e)
print(e.pop(1)); print(e)
e.remove(6); print(e)
e.reverse(); print(e)
#e.sort(); print(e)


e1=e.copy()
e2=e

[2, 6, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2]
[2, 6, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50]
12
[2, 6, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50]
[2, 6, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50, 4, 6, 2, 3]
[2, 6, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50, 4, 6, 2, 3]
[2, 6, 100, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50, 4, 6, 2, 3]
6
[2, 100, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50, 4, 6, 2, 3]
[2, 100, 4, 50, 50, 50, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 100, 'b', 'a', 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 100, 100, 4, 2, 50, 4, 100, 2, 50, 4, 2, 3]
[3, 2, 4, 50, 2, 100, 4, 50, 2, 4, 100, 100, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 'a', 'b', 100, 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 50, 50, 50, 4, 100, 2]

In [32]:
# tuple function
f=(3,6,2)
print(f)
print(f.index(3))
print(f.count(3))

(3, 6, 2)
0
1

In [35]:
# dictionary
g={'a':[45,6],'b':[1,6,2]}
print(g)
print(g.keys())
print(g.values())
print(g.get('a'))
print(g.pop('b')); print(g)

{'a': [45, 6], 'b': [1, 6, 2]}
dict_keys(['a', 'b'])
dict_values([[45, 6], [1, 6, 2]])
[45, 6]
[1, 6, 2]
{'a': [45, 6]}

In [89]:
# set function 
h={2,50,5}
print(h)
h.add(55); print(h)
#print(h.difference({2,10}))
#print(h.intersection({2,10}))
print(h.pop()); print(h)
h.remove(50); print(h)
print(h.union({10,20,30,40}))

{2, 50, 5}
{2, 50, 5, 55}
2
{50, 5, 55}
{5, 55}
{20, 5, 55, 40, 10, 30}

In [91]:
# type conversion 
a=10
float(a)

10.0

In [92]:
str(a)

'10'

In [107]:
int('3000')

3000

In [108]:
int(float(30.4))

30

In [109]:
eval('56')

56

In [114]:
list(d)

[' ', 'H', 'e', 'l', 'l', ' ', 'l', 'o', 'w', ' ']

In [115]:
tuple(d)

(' ', 'H', 'e', 'l', 'l', ' ', 'l', 'o', 'w', ' ')

In [118]:
str(e)

"[3, 2, 4, 50, 2, 100, 4, 50, 2, 4, 100, 100, 100, 50, 2, 4, 100, 50, 2, 4, 100, 50, 'a', 'b', 100, 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 4, 2, 50, 100, 50, 50, 50, 4, 100, 2]"

In [119]:
dict(b=e)

{'b': [3,
  2,
  4,
  50,
  2,
  100,
  4,
  50,
  2,
  4,
  100,
  100,
  100,
  50,
  2,
  4,
  100,
  50,
  2,
  4,
  100,
  50,
  'a',
  'b',
  100,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  50,
  50,
  50,
  4,
  100,
  2]}

In [120]:
set(e)

{100, 2, 3, 4, 50, 'a', 'b'}

In [121]:
e1,e2

([3,
  2,
  4,
  50,
  2,
  100,
  4,
  50,
  2,
  4,
  100,
  100,
  100,
  50,
  2,
  4,
  100,
  50,
  2,
  4,
  100,
  50,
  'a',
  'b',
  100,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  50,
  50,
  50,
  4,
  100,
  2],
 [3,
  2,
  4,
  50,
  2,
  100,
  4,
  50,
  2,
  4,
  100,
  100,
  100,
  50,
  2,
  4,
  100,
  50,
  2,
  4,
  100,
  50,
  'a',
  'b',
  100,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  50,
  50,
  50,
  4,
  100,
  2])

In [122]:
[e1,e2]

[[3,
  2,
  4,
  50,
  2,
  100,
  4,
  50,
  2,
  4,
  100,
  100,
  100,
  50,
  2,
  4,
  100,
  50,
  2,
  4,
  100,
  50,
  'a',
  'b',
  100,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  50,
  50,
  50,
  4,
  100,
  2],
 [3,
  2,
  4,
  50,
  2,
  100,
  4,
  50,
  2,
  4,
  100,
  100,
  100,
  50,
  2,
  4,
  100,
  50,
  2,
  4,
  100,
  50,
  'a',
  'b',
  100,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  4,
  2,
  50,
  100,
  50,
  50,
  50,
  4,
  100,
  2]]

In [128]:
z = [1,2,3]
c=[3,6,9]
[*z,*c]

[1, 2, 3, 3, 6, 9]

In [129]:
g1={'a':4,'b':[5,6]}
g2={'c':34,'a':'hi'}

In [130]:
g1.update(g2)
g1

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [133]:
{**g1,**g2}

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [ ]:
# control statment
# 1 conditional - if-elif-else (pass)
# 2  loop while-else  (continue ,break)
#   for-else
# 3 erroe control  --  try-except-else-finally    



# Suites 

#statement1:
#   expr1
#   expr2
#statement2:
#    expr3
#    expr4
#    statement3:
#         expr5
#    expr6
#expr7

In [136]:
#for(int i=0; i<10; i++){
#    do something
#}
#arr[3,5,6,78]
#foreach(bvar v in arr){
#    v
#}
a=[3,5,6,3]
for c in a:
    print(i,i*10)

3 30
3 30
3 30
3 30

In [145]:
table=[1,2,3,4,5,6,7,8,9,10]
num=2
for i in table:
    print(num*i)

2
4
6
8
10
12
14
16
18
20

In [162]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
for i in range(1,6):
    print(i*'$')

$
$$
$$$
$$$$
$$$$$

In [155]:
# Comprehensions
#Conditional (not really a comprehension thouhgt)
# list 
#dist 
#set
#genreter

a=[3,5,3,8,5,9,10]

In [175]:
b=[]
for i in a:
   # b.append[i*2]
    b = b + [i*2]
print(b)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [169]:
b1=[i*2 for i in a]
print(b1)

[6, 10, 6, 16, 10, 18, 20]

In [178]:
b2=[i for i in a if i%2 == 1]
print(b2)

[3, 5, 3, 5, 9]

In [180]:
num=36
print('odd') if num%2 else print('Even')

Even

In [17]:
b3=[f'{i} Odd' if i%2 else f'{i} Even' for i in a]
print(b3)

['3 Odd', '5 Odd', '3 Odd', '8 Even', '5 Odd', '9 Odd', '10 Even']

In [18]:
{i:i**2 for i in a}

{3: 9, 5: 25, 8: 64, 9: 81, 10: 100}

In [19]:
{i**2 for i in a}

{9, 25, 64, 81, 100}

In [183]:
def abc1():
    print('its no input no output func')

def abc2(x):
    print(f'its fetching x={x} but no output')

def abc3():
    return 'its a string returning from function as output'

def abc4(x,y):
    return x*2,y+x+y

In [184]:
a =abc1()
print(a)

its no input no output func
None

In [185]:
a3=abc3()
print(a3)

its a string returning from function as output

In [186]:
a2 = abc2(4)
print(a2)

its fetching x=4 but no output
None

In [187]:
a4=abc4(2,3)
print(a4)

(4, 8)

In [188]:
a41,a42=abc4(4,6)
print(a41); print(a42)

8
16

In [189]:
abc4(y=5,x=8)

(16, 18)

In [190]:
abc4(4,y=5)

(8, 14)

In [191]:
#abc4(y=5,6)
#abc4(5)
#abc4(4,6,5)
abc4(x=5,y=7)

(10, 19)

In [195]:
 #default values to function args(can always start with right)
def abc5(x,y=0):
    return x*2, y+x+y

abc5(3,0)

(6, 3)

In [199]:
# *args, **kwargs
def abc6(x=1,y=0, *p, **q):
    print(x*2,y+x+y)
    print(p)
    print(q)
    print('')

In [200]:
abc6()
abc6(5,4)
abc6(5,4,9,10,34,456,'hi',23)
abc6(5,4,9,10,34,456,'hi',m=23,n=[4,7,8])
abc6(5,4,9,10,456,'hi',23,q={'x':[45,6],'z':34})

2 1
()
{}

10 13
()
{}

10 13
(9, 10, 34, 456, 'hi', 23)
{}

10 13
(9, 10, 34, 456, 'hi')
{'m': 23, 'n': [4, 7, 8]}

10 13
(9, 10, 456, 'hi', 23)
{'q': {'x': [45, 6], 'z': 34}}